*{
    padding: 0%;
    margin: 0%;
    
}

body{
    font-family: Arial, Helvetica, sans-serif;
background: rgb(246,155,54);
background: linear-gradient(0deg, rgba(246,155,54,0.5578606442577031) 0%, rgba(246,246,246,1) 47%);
background-repeat: no-repeat;
background-attachment: fixed;


}
#header{
    background: rgb(2,0,36);
     background:linear-gradient(90deg, rgb(253, 109, 8) 0%, rgb(247, 140, 24) 12%, rgb(241, 195, 138) 100%);
    padding: 10px;
}

#header ul li{

    list-style: none;
    display: inline;
    padding: 10px;
}
#header ul li a{
color: blanchedalmond;
text-decoration: none;
padding: 10px;
}
#footer{
    background-color:gainsboro;
    padding: 20px;
}
#main{
    padding: 20px 0;
    width: 500px;
    margin:0 auto;
}
.center{
    text-align: center;
}
.error{
    color: #ac2323;
}
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #ffffff;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}


.card-primary:not(.card-outline) .card-header {
  background-color: #007bff;
}

.card-primary:not(.card-outline) .card-header,
.card-primary:not(.card-outline) .card-header a {
  color: #ffffff;
}

.card-primary:not(.card-outline) .card-header a.active {
  color: #1F2D3D;
}

.card-primary.card-outline {
  border-top: 3px solid #007bff;
}

.card-primary.card-outline-tabs .card-header a:hover {
  border-top: 3px solid #dee2e6;
}

.card-primary.card-outline-tabs .card-header a.active {
  border-top: 3px solid #007bff;
}

.card-secondary:not(.card-outline) .card-header {
  background-color: #6c757d;
}

.card-secondary:not(.card-outline) .card-header,
.card-secondary:not(.card-outline) .card-header a {
  color: #ffffff;
}

.card-secondary:not(.card-outline) .card-header a.active {
  color: #1F2D3D;
}

.card-secondary.card-outline {
  border-top: 3px solid #6c757d;
}

.card-secondary.card-outline-tabs .card-header a:hover {
  border-top: 3px solid #dee2e6;
}

.card-secondary.card-outline-tabs .card-header a.active {
  border-top: 3px solid #6c757d;
}

.bg-secondary .btn-tool,
.bg-gradient-secondary .btn-tool,
.card-secondary:not(.card-outline) .btn-tool {
  color: rgba(255, 255, 255, 0.8);
}

.bg-secondary .btn-tool:hover,
.bg-gradient-secondary .btn-tool:hover,
.card-secondary:not(.card-outline) .btn-tool:hover {
  color: #ffffff;
}

.card-title {
  margin-bottom: 0.75rem;
}

.card-title {
  float: left;
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}
.card-header::after,
.card-body::after,
.card-footer::after {
  display: block;
  clear: both;
  content: "";
}


.timeline {
  margin: 0 0 45px;
  padding: 0;
  position: relative;
}

.timeline::before {
  border-radius: 0.25rem;
  background: #dee2e6;
  bottom: 0;
  content: '';
  left: 31px;
  margin: 0;
  position: absolute;
  top: 0;
  width: 4px;
}

.timeline > div {
  margin-bottom: 15px;
  margin-right: 10px;
  position: relative;
}

.timeline > div::before, .timeline > div::after {
  content: "";
  display: table;
}

.timeline > div > .timeline-item {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  background: #ffffff;
  color: #495057;
  margin-left: 60px;
  margin-right: 15px;
  margin-top: 0;
  padding: 0;
  position: relative;
}

.timeline > div > .timeline-item > .time {
  color: #999;
  float: right;
  font-size: 12px;
  padding: 10px;
}

.timeline > div > .timeline-item > .timeline-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  color: #495057;
  font-size: 16px;
  line-height: 1.1;
  margin: 0;
  padding: 10px;
}

.timeline > div > .timeline-item > .timeline-header > a {
  font-weight: 600;
}

.timeline > div > .timeline-item > .timeline-body,
.timeline > div > .timeline-item > .timeline-footer {
  padding: 10px;
}

.timeline > div > .timeline-item > .timeline-body > img {
  margin: 10px;
}

.timeline > div > .timeline-item > .timeline-body > dl, .timeline > div > .timeline-item > .timeline-body ol, .timeline > div > .timeline-item > .timeline-body ul {
  margin: 0;
}

.timeline > div > .timeline-item > .timeline-footer > a {
  color: #ffffff;
}

.timeline > div > .fa,
.timeline > div > .fas,
.timeline > div > .far,
.timeline > div > .fab,
.timeline > div > .glyphicon,
.timeline > div > .ion {
  background: #adb5bd;
  border-radius: 50%;
  font-size: 15px;
  height: 30px;
  left: 18px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 30px;
}

.timeline > .time-label > span {
  border-radius: 4px;
  background-color: #ffffff;
  display: inline-block;
  font-weight: 600;
  padding: 5px;
}

.timeline-inverse > div > .timeline-item {
  box-shadow: none;
  background: #f8f9fa;
  border: 1px solid #dee2e6;
}

.timeline-inverse > div > .timeline-item > .timeline-header {
  border-bottom-color: #dee2e6;
}

bg-blue {
  background-color: #007bff !important;
}

.bg-blue,
.bg-blue > a {
  color: #ffffff !important;
}

.bg-blue.btn:hover {
  border-color: #0062cc;
  color: #ececec;
}

.bg-blue.btn:not(:disabled):not(.disabled):active, .bg-blue.btn:not(:disabled):not(.disabled).active, .bg-blue.btn:active, .bg-blue.btn.active {
  background-color: #0062cc !important;
  border-color: #005cbf;
  color: #ffffff;
}

.timeline > div > .timeline-item > .timeline-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  color: #495057;
  font-size: 16px;
  line-height: 1.1;
  margin: 0;
  padding: 10px;
}

.timeline > div > .timeline-item > .timeline-header > a {
  font-weight: 600;
}

.image-upload > input
{
    display: none;
}
.image-upload img
{
    width: 150px;
    cursor: pointer;
}
.image-upload 
{  border: rgb(152,152,152) 5px dashed;
   background-color: #EEEEEE;
}

.btn-group,
.btn-group-vertical {
  position: relative;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
}

.btn-group > .btn,
.btn-group-vertical > .btn {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.btn-group > .btn:hover,
.btn-group-vertical > .btn:hover {
  z-index: 1;
}

.btn-group > .btn:focus, .btn-group > .btn:active, .btn-group > .btn.active,
.btn-group-vertical > .btn:focus,
.btn-group-vertical > .btn:active,
.btn-group-vertical > .btn.active {
  z-index: 1;
}

.btn-group > .btn:not(:last-child):not(.dropdown-toggle),
.btn-group > .btn-group:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-group > .btn:not(:first-child),
.btn-group > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.dropdown-toggle-split {
  padding-right: 0.5625rem;
  padding-left: 0.5625rem;
}

.dropdown-toggle-split::after,
.dropup .dropdown-toggle-split::after,
.dropright .dropdown-toggle-split::after {
  margin-left: 0;
}

.dropleft .dropdown-toggle-split::before {
  margin-right: 0;
}

.btn-sm + .dropdown-toggle-split, .btn-group-sm > .btn + .dropdown-toggle-split {
  padding-right: 0.375rem;
  padding-left: 0.375rem;
}

.btn-lg + .dropdown-toggle-split, .btn-group-lg > .btn + .dropdown-toggle-split {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.btn-group.show .dropdown-toggle {
  box-shadow: none;
}

.btn-group.show .dropdown-toggle.btn-link {
  box-shadow: none;
}

.dropdown-icon::after {
  margin-left: 0;
}
