.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-image: url(../../public/images/fondo1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height: 100%;
   width: 100% ;
   color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;

}

.jumbotron-heading {
  font-weight: 300;
  color: #fff !important;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
.bg-grandiant{
background: rgb(4,47,98);
background: linear-gradient(0deg, rgb(247, 146, 30) 0%, rgb(253, 106, 4) 100%);

text-decoration:none;
}